@media (max-width:1230px){
    .left-text{
        margin-bottom: 20px;
    }
    .right-text > .subject-box{
        margin-bottom: 20px;
    }
}
@media (max-width:1226px){
    .left-text{
        margin-right: 0;
    }
}
@media (max-width:1200px){
    .container{
        width: 90%;
    }
    .footer{
        width: 90%;
    }
}
@media (max-width:1070px){
    .images-1:not(:last-child){
        margin-bottom: 20px;
    }
    .section-2-text{
        padding: 0;
    }
    .text-section{
        padding: 0;
    }
    .contact-header{
        padding-left:  0;
    }
    .info{
        margin-right: 100px;
    }
    .links{
        margin-right: 50px;
    }
    .privacy{
        margin-right: 50px;
    }
}
@media (max-width:860px){
    .section-2-text > h3{
        font-size: 10px;
    }
    .section-2-text > p{
        font-size: 30px;
    }
    .contact-header > p{
        font-size: 30px;
    }
    .contact-header > h3{
        font-size: 10px;
    }
    .info{
        margin-right: 0;
    }
    .links{
        margin-right: 0;
    }
    .privacy{
        margin-right: 0;
    }
}
@media (max-width:720px){
    .info{
        margin-bottom: 30px;
    }
    .footer-contact{
        margin-right: 150px;
    }
}
@media (max-width:520px){
    .footer-container{
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
    .footer-container > div:not(:last-child){
        margin-bottom: 20px;
    }
}
